$spaceXUi-primary: (
  50 : #eefae8,
  100 : #d4f4c7,
  200 : #b8eca1,
  300 : #9ce47b,
  400 : #86df5f,
  500 : #71d943,
  600 : #69d53d,
  700 : #5ecf34,
  800 : #54ca2c,
  900 : #42c01e,
  A100 : #f9fff7,
  A200 : #d0ffc4,
  A400 : #a7ff91,
  A700 : #93ff78,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$spaceXUi-accent: (
  50 : #e4e3ea,
  100 : #bcb8ca,
  200 : #9089a6,
  300 : #635982,
  400 : #413668,
  500 : #20124d,
  600 : #1c1046,
  700 : #180d3d,
  800 : #130a34,
  900 : #0b0525,
  A100 : #7561ff,
  A200 : #492eff,
  A400 : #2000fa,
  A700 : #1d00e1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


/* For use in src/lib/core/theming/_palette.scss */
$spaceXUi-warn: (
  50 : #f3e0e0,
  100 : #e0b3b3,
  200 : #cc8080,
  300 : #b84d4d,
  400 : #a82626,
  500 : #990000,
  600 : #910000,
  700 : #860000,
  800 : #7c0000,
  900 : #6b0000,
  A100 : #ff9a9a,
  A200 : #ff6767,
  A400 : #ff3434,
  A700 : #ff1a1a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

